certifi==2024.12.14
charset-normalizer==3.4.1
gTTS==2.5.4
numpy==2.2.1
opencv-python==4.10.0.84
PyAudio==0.2.14
pydub==0.25.1
python-dotenv==1.0.1
requests==2.32.3
SpeechRecognition==3.13.0
urllib3==2.3.0
